@import '../../_theme/default/variables.less';

@popupPrefix: tc-sider;

.@{popupPrefix}-navigator {
  position: relative;
  z-index: 3;
  display: flex;
  flex: 0 0 var(--tc-layout-menu-width);
  flex-flow: column;
  width: var(--tc-layout-menu-width);
  min-width: var(--tc-layout-menu-width);
  max-width: var(--tc-layout-menu-width);
  min-height: 100%;
  overflow: hidden;
  background-color: var(--tc-component-background);
  box-shadow: 0 0 28px var(--tc-primary-lightener-extra);
  transition: all 0.3s;

  &.@{popupPrefix}-navigator-fixSider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }

  &.@{popupPrefix}-navigator-collapsed {
    flex: 0 0 var(--tc-layout-menu-collapsed-width);
    width: var(--tc-layout-menu-collapsed-width);
    min-width: var(--tc-layout-menu-collapsed-width);
    max-width: var(--tc-layout-menu-collapsed-width);
  }

  &.@{popupPrefix}-inlineLayout-navigator {
    &.@{popupPrefix}-navigator-fixSider {
      top: var(--tc-layout-header-height);
      height: calc(100vh - var(--tc-layout-header-height));
      min-height: unset;
    }
  }

  &.@{popupPrefix}-splitLayout-navigator {
    z-index: 8;
  }
}
