@import '../../_theme/default/variables.less';
@import './collapsedIcon.less';

@popupPrefix: tc-layout;

.@{popupPrefix}-basicLayout {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--body-background);

  &.@{popupPrefix}-basicLayout-hideSider {
    .@{popupPrefix}-basicLayout-wrapper {
      padding-left: 0 !important;
    }
  }

  &.@{popupPrefix}-basicLayout-inlineMode {
    flex-direction: column;

    .@{popupPrefix}-basicLayout-wrapper {
      flex-direction: row;
      // padding-bottom: 28px;
    }
  }

  &.@{popupPrefix}-basicLayout-splitMode,
  &.@{popupPrefix}-basicLayout-inlineMode {
    &.@{popupPrefix}-basicLayout-fixSider {
      .@{popupPrefix}-basicLayout-wrapper {
        padding-left: @layout-menu-width;

        &.@{popupPrefix}-basicLayout-wrapper-collapsed {
          padding-left: @layout-menu-collapsed-width;
        }
      }
    }
  }

  &.@{popupPrefix}-basicLayout-mobile {
    .@{popupPrefix}-basicLayout-wrapper {
      padding-left: 0 !important;
    }
  }

  .@{popupPrefix}-basicLayout-sider-container {
    display: flex;
    flex-flow: column nowrap;
  }

  .@{popupPrefix}-basicLayout-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: 100%;
    // 此处一定要固定X轴禁止滚动，以防菜单缩放时 内容区域扩大无法收回。释放Y轴滚动，以便在固定父级高度时能够开启内容区域滚动
    overflow-x: hidden;
    transition: padding 0.3s;

    .@{popupPrefix}-basicLayout-wrapper-content {
      display: flex;
      flex-direction: column;
    }
  }
}

.@{popupPrefix}-basicLayout-horizontal {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  background-color: var(--body-background);

  &.@{popupPrefix}-basicLayout-horizontal-hideHeader {
    .@{popupPrefix}-basicLayout-horizontal-wrapper {
      padding-top: @spacing-large !important;
    }
  }

  &.@{popupPrefix}-basicLayout-horizontal-fixHeader {
    .@{popupPrefix}-header.@{popupPrefix}-header-horizontal {
      position: fixed;
    }
    .@{popupPrefix}-basicLayout-horizontal-wrapper {
      padding-top: @layout-header-height + @spacing-large;
    }
  }

  &.@{popupPrefix}-basicLayout-horizontal-contentFlow {
    .@{popupPrefix}-header.@{popupPrefix}-header-horizontal {
      padding-left: @spacing-large;
    }
  
    .tc-layout-basicLayout-horizontal-wrapper {
      max-width: unset !important;
      margin: 0;
    }
  }

  .@{popupPrefix}-basicLayout-horizontal-wrapper {
    max-width: @layout-content-max-width;
    margin: 0 auto;
    padding: @layout-padding;
  }
}
