html {
  --tc-primary: #536ec2;
  --tc-primary-lighten: lighten(#536ec2, 8%);
  --tc-primary-lightener: lighten(#536ec2, 20%);
  --tc-primary-lightener-extra: lighten(#536ec2, 35%);
  --tc-primary-darken: darken(#536ec2, 8%);
  --tc-primary-1: tint(#536ec2, 90%);
  --tc-primary-2: tint(#536ec2, 80%);
  --tc-primary-5: tint(#536ec2, 20%);
  --tc-darken-color: #333;
  --tc-gray-color: #999;
  --tc-success-color: #00ce68;
  --tc-warning-color: #ffaf00;
  --tc-error-color: #e65251;
  --tc-processing-color: #308ee0;
  --tc-spacing-mini: 4px;
  --tc-spacing-small: 8px;
  --tc-spacing-normal: 12px;
  --tc-spacing-middle: 16px;
  --tc-spacing-large: 24px;
  --tc-spacing-huge: 36px;
  --tc-layout-menu-width: 255px;
  --tc-layout-menu-collapsed-width: 80px;
  --tc-layout-padding: 24px;
  --tc-layout-header-height: 60px;
  --tc-layout-content-max-width: 1250px;
  --tc-component-background: #fff;
  --tc-body-background: #f3f3f3;
  --tc-navigator-background: #fff;
  --tc-popover-background: #fff;
  --tc-text-color: rgba(0, 0, 0, 0.65);
  --tc-text-color-secondary: rgba(0, 0, 0, 0.45);
  --tc-header-color: rgba(0, 0, 0, 0.85);
  --tc-border-color: #f2f2f2;
  --tc-shadow-color: rgba(189, 189, 189, 0.6);
  --tc-disabled-color: rgba(0, 0, 0, 0.25); // 失效色

  &.darkTheme {
    --tc-text-color: rgba(255, 255, 255, 0.65);
    --tc-text-color-secondary: rgba(255, 255, 255, 0.45);
    --tc-header-color: rgba(255, 255, 255, 0.85);
    --tc-body-background: #0c0c0c;
    --tc-navigator-background: #222;
    --tc-popover-background: #2a2a2a;
    --tc-component-background: #1d1d1d;
    --tc-border-color: #434343;
    --tc-shadow-color: rgba(0, 0, 0, 0.45);
  }
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}
